@font-face {
    font-family: 'Aldrich'; /*a name to be used later*/
    src: URL('Aldrich-Regular.ttf'); /*URL to font*/
}
body {
    background-image: url("New\ Project\ \(6\).png");
    background-color: #010101;

}

h1{
    text-align: center;
    color: #384ba6;
    font-family: "Aldrich", sans-serif;
    text-shadow: 0 0 5px #29377c
}
h2{
    text-align: center;
    color: #384ba6;
    font-family: "Aldrich", serif; 
    text-shadow: 0 0 3px #29377c;
}
h3{
    color:antiquewhite;
    font-family: "Aldrich", sans-serif;
    text-shadow: 0 0 3px #c9b69e
}
h4{
    color:antiquewhite;
    font-family: "Aldrich", sans-serif;
}
p{
    color:antiquewhite;
    font-family: "Aldrich", sans-serif;
}

.Who{
    padding-left: 120px;
    padding-right: 100px;
}
li{
    
    color:antiquewhite;
    font-family: "Aldrich", sans-serif;
}

.B-Accomplishments{
    padding-top: 40px;
}

.C-Accomplishments{
     padding-top: 40px;
}

.D-Accomplishments{
    padding-top: 40px;
}

.E-Accomplishments{
     padding-top: 40px;
}

.F-Accomplishments{
    padding-top: 40px;
}

