@font-face {
    font-family: 'Aldrich'; /*a name to be used later*/
    src: URL('Aldrich-Regular.ttf'); /*URL to font*/
}
body {
    background-image: url("New\ Project\ \(6\).png");
    background-color: #010101;

}

h1{
    text-align: center;
    color: #384ba6;
    font-family: "Aldrich", sans-serif;
    text-shadow: 0 0 5px #29377c
}
h2{
    text-align: center;
    color: #384ba6;
    font-family: "Aldrich", serif; 
    text-shadow: 0 0 3px #29377c;
}
h3{
    color:antiquewhite;
    font-family: "Aldrich", sans-serif;
    text-shadow: 0 0 3px #c9b69e
}
h4{
    color:antiquewhite;
    font-family: "Aldrich", sans-serif;
}
p{
    color:antiquewhite;
    font-family: "Aldrich", sans-serif;
}

.Who{
    padding-left: 120px;
    padding-right: 100px;
}
li{
    
    color:antiquewhite;
    font-family: "Aldrich", sans-serif;
}

.B-Accomplishments{
    padding-top: 40px;
}

.C-Accomplishments{
     padding-top: 40px;
}

.D-Accomplishments{
    padding-top: 40px;
}

.E-Accomplishments{
     padding-top: 40px;
}

.F-Accomplishments{
    padding-top: 40px;
}



  Team-A{
    text-align: center;
    font-family: "Aldrich", sans-serif;
    font-size: 60px;
    color: #40006e;
  }
.navbar {
    font-family: Aldrich;
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    font-family: Aldrich;
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    font-family: Aldrich;
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    
    font-family: Aldrich;
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    font-family: Aldrich;
    background-color: red;
  }
  
  .dropdown-content {
    font-family: "Aldrich";
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    font-family: "Aldrich";
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    font-family: Aldrich;
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    font-family: Aldrich;
    display: block;
  }